/* Import Custom Fonts */
@font-face {
    src: url("Fonts/Roboto-Regular.ttf");
}
@font-face {
    src: url("Fonts/Roboto-Medium.ttf");
}
@font-face {
    src: url("Fonts/Roboto-Black.ttf");
}

/* Buttons */
.button{
	-fx-font-family: "Roboto Regular";
	-fx-font-size: 12px;
	-fx-background-color: #00fa00;
	-fx-height: 75%;
    -fx-width: 75%;
	
}
.button:selected{
	-fx-font-family: "Roboto Regular";
	-fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: #00fa00;
    -fx-border-radius: 4;
}
.select-button{
	-fx-font-family: "Roboto Regular";
	-fx-font-size: 12px;
	-fx-background-color: #00fa00;
	-fx-height: 75%;
    -fx-width: 75%;
}
.select-button:hover{
	-fx-font-family: "Roboto Regular";
	-fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: #f44336;
    -fx-border-radius: 4;
}

.die{
	
}
/* Text Standards*/
.Label{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 24px;
}
.text{
	-fx-font-family: "Roboto Regular";
}